{% extends 'testes/base.html' %}
{% block conteudo%}

<style> 
    input[type=text] {
      width: 100%;
      border: 0px;
      outline: none;
    }
    
    input[type=text]:focus {
      border: 0px;
    }
    </style>

<div class="container">
    &nbsp;
    <table class="table">
        <thead class="text-center">
            <tr style="background-color: #B4BEC9!important;">
                <th class="col">Base de Dados</th>
                <th class="col">Ações</th>
                <th class="col">Conexão</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <form action="{% url 'config_conexao' %}" method="post">
                    {% csrf_token %}
                    <td class="text-center"><input class="text-center" name="{{row.no_dados}}" type="text" value="{{ row.no_dados }}" readonly></td>
                    <td class="text-center"><button style="background-color: #F2EBBF;" class="btn">Configuração</button>&nbsp;<button style="background-color: #95BEF7;" class="btn">Teste</button></td>
                    <!--<td><a href="{% url 'config_conexao' %}"><button style="background-color: #F2EBBF;">Configuração</button></a>&nbsp;<button style="background-color: #95BEF7;">Teste</button></td> -->
                    <td class="text-center">{{ row.st_conexao }}</td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>
 {% endblock %}